{
  "mcpServers": {
    "tavily": {
      "command": "npx",
      "args": [
        "-y",
        "@anthropic-ai/mcp-remote@latest",
        "https://mcp.tavily.com/mcp/?tavilyApiKey=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"
      ]
    },
    "notion": {
      "command": "npx",
      "args": [
        "-y",
        "@anthropic-ai/mcp-remote@latest",
        "https://mcp.notion.so/mcp/?ntn_token=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"
      ]
    }
  }
}
